
h1 {
	text-align: center;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.calculator {
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: #A9A9A9;
	width: 300px;
	height: 500px;
	flex-direction: row;
	flex-wrap: wrap;
	border: .5em solid black;
	border-radius: 5%;
}

.screen {
	height: 1.2em;
	flex-basis: 100%;
	font-size: 4em;
	background-color: #ffffff;
	text-align: right;
	margin: 2%;
}
.button {
	flex-basis: 1.2em;
	margin:2%;
	font-size: 3em;
	text-align: center;
	border: .05em solid red;
}

.button:hover {
  background-color: #C0C0C0;
  color: #ffffff;
}

.button:active {
  background-color: #000000;
  color: #ffffff;
}