#calcContainer {
	display: flex;
	flex-wrap: wrap;
	border: solid 2px grey;
	width: 375px;
	height: 500px;
}

.square {
	width: 80px;
	height: 80px;
	margin: auto;
	text-align: center;
	line-height: 80px;
	border: solid 2px grey;
}

#output {
	width: 90%;
	height: 60px;
	text-align: right;
	line-height: 60px;
}